body, html{
  background: #000;
  margin: 0;
}

/*-----------------------------
Stili generali del sito
-----------------------------*/

a{
  color: #000;
}

/*-----------------------------
Header
-----------------------------*/

.header{
  background: #ebebeb;
  box-shadow: 0 5px 20px rgba(0,0,0,.05);
}

.header__logo{
  color: #000;
  float: left;
  display: block;
  padding: 20px;
  text-decoration: none;
}

.header__menu{
  float: right;
  margin: 0;
  padding: 0;
}

.header__menu__item{
  display: inline-block;
}
.header__menu__item a{
  color: #000;
  display: block;
  padding: 20px;
  text-decoration: none;
}

.header__menu__item a:hover{
  background-color: yellow;
}












/* ClearFix */

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}

* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
