/* -------------------------------------------------------------------------------- */
/* ! Custom Style */
/* -------------------------------------------------------------------------------- */

body, html{
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden; /* ! Per evitare di scrollare da sinistra verso destra */
}

a{transition: .3s ease;}
.container{padding: 0;}
.bar{position: relative; height: 5px; width: 35px; top: -0.6rem; border-radius: 3px;}
.category{color: #333;}
.category:hover{text-decoration: underline;}

/* -------------------------------------------------------------------------------- */
/* ! Navbar */
/* -------------------------------------------------------------------------------- */
.navbar{margin: 20px 0px 20px 0px; border-radius: 15px 15px 15px 15px}
.navbar-expand-lg .navbar-nav .nav-link{padding-right: 1.0rem; padding-left: 1.0rem; color: #fff;}
.navbar-brand{padding-bottom: 0;}
a.nav-item.nav-link.active{font-weight: bold; border-radius: 15px; color: #F9AB00 !important;}
.navbar-expand-lg .navbar-nav .nav-link:hover{color: #F9AB00; transition: .3s ease;}
.navbar-expand-lg .navbar-nav .nav-link{text-align: center;}
.navbar-toggler:focus{outline: none;}
.navbar-toggler{border: 0px;}


/* -------------------------------------------------------------------------------- */
/* ! Jumbotron (Cover) */
/* -------------------------------------------------------------------------------- */
.jumbotron{
  background: url(../img/bg-cover.jpg) no-repeat center center;
  border-radius: 15px;
  margin-bottom: 20px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.cover__title, .cover__subtitle{text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);}
.cover__title{font-size: 90px;text-transform: uppercase; font-weight: bold;}
.cover__subtitle{font-size: 30px;font-weight: 400;}

/* -------------------------------------------------------------------------------- */
/* ! Blog Cards */
/* -------------------------------------------------------------------------------- */
.card{border-radius: 15px;border: 0;transition: all 0.5s cubic-bezier(.25,.8,.25,1);}
.card:hover{box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);}
.card-title{color: #2c3e4f;font-weight: 700;font-size: 30px;}


/* -------------------------------------------------------------------------------- */
/* ! Skills */
/* -------------------------------------------------------------------------------- */
.skill__body{padding: 20px;}
.skill__bar{border-radius: 10px 10px 10px 10px;}


/* -------------------------------------------------------------------------------- */
/* ! Recents Works*/
/* -------------------------------------------------------------------------------- */
.recents__cards{padding: 20px 0px 10px 0px;}

/* -------------------------------------------------------------------------------- */
/* ! Footer */
/* -------------------------------------------------------------------------------- */
.footer{border-radius: 15px; text-align: center; color: #fff;}


/* -------------------------------------------------------------------------------- */
/* ! Small Devices (Smartphone normali in 9:16 da 576px in giù)
/* -------------------------------------------------------------------------------- */
@media (max-width: 576px) {

.navbar{margin-top: 0px; border-radius: 0;}
.blog__cards{padding: 0px 10px 0px 10px;}
.cover__title{font-size: 50px;}
.cover__subtitle{font-size: 20px}
.skill__body{padding-left: 25px; margin-bottom: 20px;}
.skill__bar{margin: 0px 10px 10px 10px;}
.skill__cards{padding: 0px 10px 0px 10px;}
.jumbotron{margin: 0px 10px 10px 10px;}
.recents__cards{padding: 0px 10px 10px 10px;}
.recents__videos{padding: 20px;}
.footer p{margin:0}

}

/* -------------------------------------------------------------------------------- */
/* ! Large devices (Desktops, da 992px in su)
/* -------------------------------------------------------------------------------- */
@media (min-width: 992px) {}
